<article
  class="archive-card"
>
  <header class="mb-4">
    <h1 class="font-sans text-base font-medium md:text-lg">
      <a
        href="{{ .RelPermalink }}"
        class="text-current no-underline hover:bg-transparent"
      >
        {{ .Title }}
      </a>
    </h1>

    <time
      datetime="{{ .Date.Format "2006-01-02" }}"
      class="text-sm md:text-base"
    >
      {{ .Date.Format "Jan 2, 2006" }}
    </time>
  </header>

  {{ .Content }}

  {{ with .Params.tags }}
    <ul class="tag-list">
      {{ range . }}
        <li class="tag-item">#{{ . }}</li>
      {{ end }}
    </ul>
  {{ end }}
</article>
