{{ if or .PrevInSection .NextInSection }}
  <nav>
    <hr class="my-10 border-dashed" />
    <ul class="article-pager-list">
      {{ with .PrevInSection }}
        <li class="article-pager-previous">
          <span>Previous:</span>
          <a href="{{ .RelPermalink }}">{{ .Title }}</a>
        </li>
      {{ end }}
      {{ with .NextInSection }}
        <li class="article-pager-next">
          <span>Next:</span>
          <a href="{{ .RelPermalink }}">{{ .Title }}</a>
        </li>
      {{ end }}
    </ul>
  </nav>
{{ end }}
